.sun {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background-color: orange;
    position: absolute;
    left: 45%;
    top: 40%;
    box-shadow: orange 0px 0px 100px 0px;
}

body {
    background-image: url("https://images.lifestyleasia.com/wp-content/uploads/2017/07/28103254/northernlights.gif");
    background-repeat: no-repeat;
	background-size: cover;
}

.mercury {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: silver;
    position: absolute;
    left: 650px;
    top: 300px;
    animation-name: mercury;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes mercury {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(200px) rotate(0deg);
 }

    /* 12.5% {
    transform: translate(-125%,125%) rotate(360deg);
     }
    25% {
        transform: translate(-350%,350%) rotate(360deg);
    }
    42.5% {
        transform: translate(-100%,125%) rotate(360deg);
    }
    50% {
        transform: translate(-1250%,-350%) rotate(360deg);
    }
    62.5% {
        transform: translate(-125%,-225%) rotate(360deg)
    }
    75% {
        transform: translate(-350%,-450%) rotate(360deg);
    }
    87.5% {
        transform: translate(125%,225%) rotate(0deg);
    } */
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(200px) rotate(-360deg);

    }
    /* 100% {
        transform: translate(0%,0%) rotate(360deg);
    } */


}

.venus {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: #C07F00;
    position: absolute;
    animation-name: venus;
    animation-duration: 21s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    left: 700px;
    top: 350px;
}

@keyframes venus {

    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(300px) rotate(0deg);

    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(300px) rotate(-360deg);
    }
}

.earth {
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color: lightseagreen;
    position: absolute;
    animation-name: earth;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    left: 700px;
    top: 350px;
}
@keyframes earth {

    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(370px) rotate(0deg);

    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(370px) rotate(-360deg);
    }
}

.star1 {
    height: 2px;
    width: 2px;
    background-color: white;
    position: absolute;
    left: 200px;
    top: 200px;
    border-radius: 30px;
    box-shadow: white 0px 0px 30px 10px;
    animation-name: stars;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes stars {
     
    0% {
        box-shadow: white 0px 0px 10px 5px;
    }
    100% {
        box-shadow: white 0px 0px 10px 0px;
    }


}

.star2 {
    height: 2px;
    width: 2px;
    background-color: white;
    position: absolute;
    left: 900px;
    top: 250px;
    border-radius: 30px;
    box-shadow: white 0px 0px 30px 10px;
    animation-name: stars;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.star3 {
    height: 2px;
    width: 2px;
    background-color: white;
    position: absolute;
    right: 900px;
    bottom: 250px;
    border-radius: 30px;
    box-shadow: white 0px 0px 30px 10px;
    animation-name: stars;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.star4 {
    height: 2px;
    width: 2px;
    background-color: white;
    position: absolute;
    left: 1000px;
    bottom: 100px;
    border-radius: 30px;
    box-shadow: white 0px 0px 30px 10px;
    animation-name: stars;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.img {
    transform: rotate(180deg);
}

.rock {
    position: absolute;
    animation-name: rock;
    animation-duration:6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rock {

    0% {
        position: absolute;
        bottom: 0;
        
    }

    50% {
        position: absolute;
        top: 100%;
        transform: rotate(360deg)
       
    }
    100% {
        position: absolute;
        top: 0;
       
    }
}

.bh {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 100px;
    box-shadow: black 0px 0px 10px 10px;
    position:absolute;
    top: 300px;
    right: 0px;
}
